*.onnx
*.jpg
*.engine
*.bmp
deepstream_pipeline/predictions/*
deepstream_pipeline/images/*
__MACOSX/
*.log
*.log.*
deepstream_pipeline/debug_pipeline/stress_test/runs/
deepstream_pipeline/debug_pipeline/frames/
deepstream_pipeline/monitoring/runs/
